<a href="https://colab.research.google.com/github/marianeferroni/python/blob/master/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercício 1 - Hello World
Olar!

In [0]:
print('Olar')

Olar

#Exercício 2 - Operações Matemáticas

Imprimir resultado de: 2+2;
<br>
Imprimir resultado de: 2-4;
<br>
Imprimir resultado de: 1*9;
<br>
Imprimir resultado de: 4/2;
<br>
Imprimir resultado 2ˆ3 (cálculo exponencial, 2 elevado a 3);

In [0]:
print(2+2);
print(2-4);
print(1*9);
print(4/2);
print(2**3);

4
-2
9
2.0
8

#Exercício 3 - Strings

Nome
<br>
Nome + Nome
<br>
Nome *3
<br> 
Caixa Alta
<br>
Caixa Baixa
<br>
Quantidade de Caracteres
<br>
Converter em String

In [1]:
print('Mari');
print('Mari'+'Mari');
print('Mari'*3);
print('Mari'.upper());
print('Mari'.lower());
print(len('Mari'));
print(len(str(123412)));

Mari
MariMari
MariMariMari
MARI
mari
4
6

# Exercício 4 - Variáveis

Imprimir variável
<br>
Imprimir quantidade de caracteres de uma variável
<br>
Imprimir soma de variáveis

In [9]:
nome = "Mari";
sobrenome = "Ferroni";
a = 1;
b = 2;
print(nome);
print(len(nome));
print(nome+" "+sobrenome);
print(a+b);

Mari
4
Mari Ferroni
3